*.h5
*.bin
*.parquet
*.csv
*.log
*.npy
*.pickle
.env
*.pyc
*.dot
*.joblib
*.png
*.txt
*.npz
*.pdf
*.pkl
*.html
.cache_ggshield
data/**
02_market_and_fundamental_data/04_sec_edgar/data
12_gradient_boosting_machines/catboost_info
15_topic_modeling/results/financial_news
16_word_embeddings/results
17_deep_learning/results
18_convolutional_neural_nets/results
18_convolutional_neural_nets/cats_vs_dogs
18_convolutional_neural_nets/images